<a href="https://colab.research.google.com/github/creative-dana/FirstProject/blob/master/n212a__sol_multiple_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *DATA SCIENCE / SECTION 2 / SPRINT 1 / NOTE 2*

# üìù Assignment
---

# Îã§Ï§ëÏÑ†ÌòïÌöåÍ∑Ä(Multiple Linear Regression)

Ïù¥Î≤à Í≥ºÏ†úÏóêÏÑúÎèÑ n211 Í≥ºÏ†ú ÏóêÏÑú Îã§Î£®ÏóàÎçò housing price datasetÏùÑ Í∞ÄÏßÄÍ≥† Î∞∞Ïö¥ ÎÇ¥Ïö©ÏùÑ Ïó∞ÏäµÌï¥ Î≥¥Í≤†ÏäµÎãàÎã§.
Îã§Ïùå ÎßÅÌÅ¨ÏóêÏÑú Îã§Ïö¥Î°úÎìú Î∞õÏïÑ ÏÇ¨Ïö©Ìï¥ Ï£ºÏÑ∏Ïöî. [House Sales in King County, USA](https://www.kaggle.com/harlfoxem/housesalesprediction)

In [ ]:
# Îç∞Ïù¥ÌÑ∞Îäî Ï∫êÍ∏ÄÏóêÏÑú Î∞õÏúºÏÖîÎèÑ ÎêòÍ≥† Ïù¥ ÎßÅÌÅ¨ÏóêÏÑú Î∂àÎü¨ÏôÄÎèÑ Îê©ÎãàÎã§.
import pandas as pd
df = pd.read_csv('https://ds-lecture-data.s3.ap-northeast-2.amazonaws.com/kc_house_data/kc_house_data.csv')

In [ ]:
df.columns

Index(['id', 'date', 'price', 'bedrooms', 'bathrooms', 'sqft_living',
       'sqft_lot', 'floors', 'waterfront', 'view', 'condition', 'grade',
       'sqft_above', 'sqft_basement', 'yr_built', 'yr_renovated', 'zipcode',
       'lat', 'long', 'sqft_living15', 'sqft_lot15'],
      dtype='object')

### 1) Îç∞Ïù¥ÌÑ∞Îäî May 2014 ~ May 2015 Ïùò 2ÎÖÑÏπò Îç∞Ïù¥ÌÑ∞ÏûÖÎãàÎã§. 2015-01-01 Î∂ÄÌÑ∞ ÌÅ∞ ÎÇ†ÏßúÏùò Îç∞Ïù¥ÌÑ∞Îäî ÌÖåÏä§Ìä∏, Í∑∏ Ïù¥Ïô∏Ïùò Îç∞Ïù¥ÌÑ∞Îäî ÌõàÎ†® Îç∞Ïù¥ÌÑ∞ÏÖãÏúºÎ°ú ÎÇòÎàÑÏñ¥ Ï£ºÏÑ∏Ïöî
- **ÌõàÎ†®Îç∞Ïù¥ÌÑ∞ ÏÉòÌîåÏùò Í∞ØÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# test Îç∞Ïù¥ÌÑ∞ : date Ïª¨Îüº Í∞íÏù¥ 2015-01-01 Î≥¥Îã§ ÌÅ∞ row Ï∂îÏ∂ú
test = df[df['date']>'2015-01-01']

# train Îç∞Ïù¥ÌÑ∞ : test Îç∞Ïù¥ÌÑ∞Î•º Ï†úÏô∏(drop)Ìïú ÎÇòÎ®∏ÏßÄ Îç∞Ïù¥ÌÑ∞
train = df.drop(test.index)

In [ ]:
# train Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏ -> 14,633
train

               id             date  ...  sqft_living15  sqft_lot15
0      7129300520  20141013T000000  ...           1340        5650
1      6414100192  20141209T000000  ...           1690        7639
3      2487200875  20141209T000000  ...           1360        5000
5      7237550310  20140512T000000  ...           4760      101930
6      1321400060  20140627T000000  ...           2238        6819
...           ...              ...  ...            ...         ...
21603  7852140040  20140825T000000  ...           2270        5731
21605  3448900210  20141014T000000  ...           2520        6023
21608   263000018  20140521T000000  ...           1530        1509
21610  1523300141  20140623T000000  ...           1020        2007
21612  1523300157  20141015T000000  ...           1020        1357

[14633 rows x 21 columns]

In [ ]:
# test Îç∞Ïù¥ÌÑ∞ ÌôïÏù∏
test

               id             date  ...  sqft_living15  sqft_lot15
2      5631500400  20150225T000000  ...           2720        8062
4      1954400510  20150218T000000  ...           1800        7503
7      2008000270  20150115T000000  ...           1650        9711
8      2414600126  20150415T000000  ...           1780        8113
9      3793500160  20150312T000000  ...           2390        7570
...           ...              ...  ...            ...         ...
21604  9834201367  20150126T000000  ...           1400        1230
21606  7936000429  20150326T000000  ...           2050        6200
21607  2997800021  20150219T000000  ...           1330        1265
21609  6600060120  20150223T000000  ...           1830        7200
21611   291310100  20150116T000000  ...           1410        1287

[6980 rows x 21 columns]

### 2) Îëê ÌäπÏÑ±(bathrooms, sqft_living)ÏùÑ ÏÇ¨Ïö©Ìï¥ÏÑú Îã§Ï§ëÏÑ†ÌòïÌöåÍ∑Ä Î™®Îç∏ÏùÑ ÎßåÎì§Ïñ¥ Î≥¥ÏÑ∏Ïöî
- ÌïôÏäµÏãú ParametersÎäî Î™®Îëê Í∏∞Î≥∏Í∞íÏúºÎ°ú Ìï©ÎãàÎã§.
- **ÌÖåÏä§Ìä∏ÏÑ∏Ìä∏Ïùò MAE Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [30]:
# ÌîºÏ≥ê ÏÑ§Ï†ï Î∞è Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ -> ÌôîÏû•Ïã§ Í∞úÏàò, Ï£ºÌÉù Î©¥Ï†Å
features = ['bathrooms', 'sqft_living']
X_train = train[features]
X_test = test[features]

# ÌÉÄÍπÉ ÏÑ§Ï†ï Î∞è Îç∞Ïù¥ÌÑ∞ Ï§ÄÎπÑ -> Ï£ºÌÉù Í∞ÄÍ≤©
target = 'price'
y_train = train[target]
y_test = test[target]

# Ìå®ÌÇ§ÏßÄ ÏÑ§Ïπò Î∞è Í∞ùÏ≤¥ ÏÉùÏÑ±
from sklearn.linear_model import LinearRegression
model = LinearRegression()

# Î™®Îç∏ ÌõàÎ†®
model.fit(X_train, y_train)

# ÌõàÎ†®Ìïú Î™®Îç∏Ïóê ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïùò ÌîºÏ≥êÎ•º ÎÑ£Ïñ¥ ÏòàÏ∏°Í∞í ÎèÑÏ∂ú
y_pred_test = model.predict(X_test)

# ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®Í∞í Íµ¨ÌïòÏñ¥ - ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïùò ÌÉÄÍπÉÍ∞íÍ≥º ÏòàÏ∏°Í∞íÏù¥ ÏñºÎßåÌÅº Ï∞®Ïù¥Í∞Ä ÏûàÎäîÏßÄ?
from sklearn.metrics import mean_absolute_error
mae_test = mean_absolute_error(y_test, y_pred_test)

print("ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò MAEÍ∞í :", mae_test)

ÌÖåÏä§Ìä∏ ÏÑ∏Ìä∏Ïùò MAEÍ∞í : 179252.52593261775

### 3) Î™®Îç∏Ïùò ÌöåÍ∑ÄÍ≥ÑÏàò(coefficients)ÏôÄ Ï†àÌé∏(intercept)ÏùÑ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî.
- **sqft_livingÏùò ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# ÌöåÍ∑ÄÍ≥ÑÏàò (ÌîºÏ≥ê ÏÑ§Ï†ï Ïãú ÏûÖÎ†•Ìïú ÏàúÏÑúÎåÄÎ°ú Ï≤´ Î≤àÏß∏ - ÌôîÏû•Ïã§Í∞úÏàò, Îëê Î≤àÏß∏ - Ï£ºÌÉù Î©¥Ï†Å)
b1, b2 = model.coef_

# Ï†àÏ†Å
b0 = model.intercept_ 

print("y = " + str(b1) + "x1 + " + str(b2) + "x2 - "+ str(abs(b0)))

y = -5158.925914109234x1 + 286.1375355497683x2 - 50243.56279640319

### 4) MSE, RMSE, MAE, $R^2$ Î•º ÌõàÎ†®/ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ ÌôïÏù∏Ìï¥ Î≥¥ÏÑ∏Ïöî
- **ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌïú R^2 Í∞íÏùÑ Í≥ºÏ†ú Ï†úÏ∂úÌèºÏóê Ï†úÏ∂úÌïòÏÑ∏Ïöî.**

In [ ]:
# ÌöåÍ∑ÄÎ∞©Ï†ïÏãù ÌèâÍ∞ÄÏßÄÌëú (ÌèâÍ∑† Ï†úÍ≥± Ïò§Ï∞®Í∞íÏùÄ ÏúÑÏóêÏÑú Í≥ÑÏÇ∞ÌïòÏòÄÏúºÎØÄÎ°ú Ï†úÏô∏Ìïú ÎÇòÎ®∏ÏßÄ Íµ¨Ìïò)
from sklearn.metrics import  mean_squared_error, mean_absolute_error, r2_score
mse = mean_squared_error(y_test, y_pred_test)
rmse = mse ** 0.5
r2 = r2_score(y_test, y_pred_test)

In [ ]:
mse, mae, rmse, r2

(71083994178.75656,
 179252.52593261775,
 266615.81757044455,
 0.45999300199894533)

## üî•ÎèÑÏ†ÑÍ≥ºÏ†ú

### 5) ÎëêÍ∞ÄÏßÄ Ïù¥ÏÉÅ ÌäπÏÑ±ÏùÑ ÏÑ†ÌÉùÌïòÏó¨ ÌäπÏÑ±Í≥µÌïô(feature engineering)ÏùÑ ÏßÑÌñâÌï©ÎãàÎã§. (kaggle notebookÏùÑ Ï∞∏Í≥†ÌïòÏó¨ Ï§ëÏöîÌïú ÌäπÏÑ±ÏùÑ Í≥†Î•¥Îäî Í≤ÉÏù¥ ÌûåÌä∏ÏûÖÎãàÎã§.)
- EDAÎ•º ÏûêÏÑ∏Ìûà ÏßÑÌñâÌïòÏÑ∏Ïöî
- ÌäπÏÑ±Í≥µÌïô Í≥ºÏ†ïÏùÑ ÏûêÏÑ∏Ìûà Í∏∞Ïà†ÌïòÏÑ∏Ïöî
- ÌäπÏÑ±Í≥µÌïôÏùÑ Í±∞Ïπú ÌäπÏÑ±ÏùÑ Ìè¨Ìï®Ìï¥ Îã§ÏàòÏùò ÌäπÏÑ±ÏùÑ ÏÇ¨Ïö©Ìïú Î™®Îç∏ÏùÑ ÌïôÏäµÌïòÍ≥† ÌÖåÏä§Ìä∏ Îç∞Ïù¥ÌÑ∞Ïóê ÎåÄÌï¥ MSE, RMSE, MAE, R2 Ïä§ÏΩîÏñ¥Î•º Í≥ÑÏÇ∞ÌïòÍ≥† Î∂ÑÏÑùÌïòÏÑ∏Ïöî
- ÎßåÎì§Ïñ¥ÏßÑ ÌöåÍ∑ÄÍ≥ÑÏàòÎ•º ÏÇ¨Ïö©Ìï¥ Î™®Îç∏ÏùÑ ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.
- Î™®Îç∏Ïù¥ Í≥ºÏ†ÅÌï©Ïù∏ÏßÄ/Í≥ºÏÜåÏ†ÅÌï©Ïù∏ÏßÄ ÏÑ§Î™ÖÌïòÏÑ∏Ïöî.
- Î©îÏã†Ï†Ä general Ï±ÑÎÑêÏóêÏÑú 4Í∞ú Ïä§ÏΩîÏñ¥Î•º Ï†úÏãúÌïòÍ≥† Î≥∏Ïù∏Ïù¥ Í≥†Î•∏ ÌäπÏÑ±, ÌäπÏÑ±Í≥µÌïô Î∞©Î≤ï Îì±ÏùÑ Í∞ÑÎûµÌïòÍ≤å Í≥µÏú†ÌïòÏÑ∏Ïöî

In [ ]:
### Ïù¥Í≥≥ÏóêÏÑú Í≥ºÏ†úÎ•º ÏßÑÌñâÌï¥ Ï£ºÏÑ∏Ïöî ###

## Ï∞∏Í≥†ÏûêÎ£å
* [Feature Engineering](https://en.wikipedia.org/wiki/Feature_engineering)
* ["A Few Useful Things to Know about Machine Learning"](https://homes.cs.washington.edu/~pedrod/papers/cacm12.pdf)
* [Machine Learning and AI via Brain simulations](https://forum.stanford.edu/events/2011/2011slides/plenary/2011plenaryNg.pdf)
* [_An Introduction to Statistical Learning_](http://faculty.marshall.usc.edu/gareth-james/ISL/ISLR%20Seventh%20Printing.pdf),  Chapter 3.1, Simple Linear Regression, & Chapter 3.2, Multiple Linear Regression
* [Brandon Foltz, Statistics 101: Simple Linear Regression](https://www.youtube.com/watch?v=ZkjP5RJLQF4)